@font-face {
    font-family: 'Freestyle Script Std';
    src: url('../font/FreestyleScriptStd.woff2') format('woff2'),
        url('../font/FreestyleScriptStd.woff') format('woff'),
        url('../font/FreestyleScriptStd.ttf') format('truetype'),
        url('../font/FreestyleScriptStd.svg#FreestyleScriptStd') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueBold.woff2') format('woff2'),
    url('../font/HelveticaNeueBold.woff') format('woff'),
    url('../font/HelveticaNeueBold.ttf') format('truetype'),
    url('../font/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueBlackCond.woff2') format('woff2'),
    url('../font/HelveticaNeueBlackCond.woff') format('woff'),
    url('../font/HelveticaNeueBlackCond.ttf') format('truetype'),
    url('../font/HelveticaNeueBlackCond.svg#HelveticaNeueBlackCond') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueLight.woff2') format('woff2'),
    url('../font/HelveticaNeueLight.woff') format('woff'),
    url('../font/HelveticaNeueLight.ttf') format('truetype'),
    url('../font/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueHeavy.woff2') format('woff2'),
    url('../font/HelveticaNeueHeavy.woff') format('woff'),
    url('../font/HelveticaNeueHeavy.ttf') format('truetype'),
    url('../font/HelveticaNeueHeavy.svg#HelveticaNeueHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueMedium.woff2') format('woff2'),
    url('../font/HelveticaNeueMedium.woff') format('woff'),
    url('../font/HelveticaNeueMedium.ttf') format('truetype'),
    url('../font/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueRegular.woff2') format('woff2'),
    url('../font/HelveticaNeueRegular.woff') format('woff'),
    url('../font/HelveticaNeueRegular.ttf') format('truetype'),
    url('../font/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueItalic.woff2') format('woff2'),
    url('../font/HelveticaNeueItalic.woff') format('woff'),
    url('../font/HelveticaNeueItalic.ttf') format('truetype'),
    url('../font/HelveticaNeueItalic.svg#HelveticaNeueItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueThin.woff2') format('woff2'),
    url('../font/HelveticaNeueThin.woff') format('woff'),
    url('../font/HelveticaNeueThin.ttf') format('truetype'),
    url('../font/HelveticaNeueThin.svg#HelveticaNeueThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'HelveticaNeue', sans-serif;
    color: #525252;
}
#banner{
    padding: 135px 0 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
#banner .banner-slogan{
    background: #32437F;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
@media (min-width: 1440px) {

    #banner .container {
        max-width: 1410px;
    }
}
.banner-slogan h2{
    font-family: 'Freestyle Script Std';
    font-size: 80px;
    font-weight: 500;
}
#banner .banner-contents{
    padding: 280px 0 160px;
    background-image: linear-gradient( rgba(255,255,255,0) 0%, #FFFFFF 100% );
}

.banner-heading{
    font-family: 'Freestyle Script Std';
    font-size: 70px;
    color: #32437F;
}

#banner .banner-bottom{
    background: #32437F;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.banner-content-right h3{
    font-size: 40px;
    font-weight: bold;
}

.red-color{
    color: #DA1A32;
}
.font-size-40{
    font-size: 40px;
}

.homepage-button{
    background: #C21B1E;
    border: 4px solid #FFFFFF;
    outline: 2px solid #C21B1E;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 0;
    transition: .5s;
}
.homepage-button:hover{
    background: #FFFFFF;
    border: 4px solid #C21B1E;
    outline: 2px solid #FFFFFF;
    text-transform: uppercase;
    color: #C21B1E;
    border-radius: 0;
}

/*contact section*/
.contact{
    background-image: linear-gradient(#cfd5ea 0%, rgba(255,255,255,0) 100%);
    position: relative;
    padding: 100px 0px;
}
.contact:before{
    position: absolute;
    content: "";
    top: -57px;
    left: -10px;
    width: 50%;
    height: 81px;
    background: #da1a32;
    transform: rotate(-3deg);
    z-index: 1;
}
.contact:after{
    right: 1px;
    width: 60%;
    background: #2c3a6e;
    position: absolute;
    content: "";
    top: -57px;
    height: 77px;
    transform: rotate(2deg);
}

.contact .contact-left h2{
    font-size: 40px;
    color: #DA1A32;
    font-weight: 900;
    text-transform: uppercase;
}
.contact .contact-left h3{
    font-size: 24px;
    color: #0068A7;
    text-transform: uppercase;
    line-height: 42px;
}
.contact .contact-left-bottom h2{
    font-size: 36px;
    color: #0068A7;
    text-transform: uppercase;
    font-weight: 900;
}

.contact .form{
    background: #FFFFFF;
    opacity: .7;
}
.contact .form .form-title{
    color: #C21B1E;
    font-size: 32px;
    text-transform: uppercase;
}


/*review section*/

.testimonial{
    background: #293768;
}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (max-width: 1440px) {
    .banner-slogan h2 {
        font-size: 70px;
    }
    .banner-heading {
        font-size: 60px;
    }
    .banner-content-right h3{
        font-size: 35px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #banner .banner-contents {
        padding: 100px 0 160px;
    }
    .banner-slogan h2 {
        font-size: 55px;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner-slogan h2 {
        font-size: 40px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}



